__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.env
.venv/
venv/

checkpoints/**/*
!checkpoints/.gitkeep
!checkpoints/**/.gitkeep

datasets/**/*
!datasets/.gitkeep
!datasets/**/.gitkeep

external/**/*
!external/.gitkeep
!external/**/.gitkeep

outputs/**/*
!outputs/.gitkeep
!outputs/**/.gitkeep

*.log
*.tmp

